@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');
/* ----------------------------------------
Base Styles
------------------------------------------- */
body {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  color: #222;
}
/* ----------------------------------------
Typography
------------------------------------------- */
h1, h2, h4, a {
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  font-size: 100px;
  letter-spacing: 3px;
}

h2 {
  font-weight: 400;
}

h3 {
  font-size: 34px;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: white;
  margin: 20px;
  display: inline-block;

}

/* ----------------------------------------
Grid System
------------------------------------------- */


/* ----------------------------------------
Header
------------------------------------------- */


/* ----------------------------------------
About
------------------------------------------- */




/* ----------------------------------------
Drinks
------------------------------------------- */



/* ----------------------------------------
Footer
------------------------------------------- */
